
.row {
  padding-top:50px;
}

.lamp {
  height: 63px;
  width: 50px;
}

.animated { 
    -webkit-animation: bounce .8s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
    animation: bounce .8s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
    -moz-animation: bounce .8s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
    -o-animation: bounce .8s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
}

.bounce { 
    position: relative;
    right: 59px;
    bottom: 59px;
}

.squish { 
    -webkit-animation-name: squish; 
    animation-name: squish; 
}

@-webkit-keyframes bounce { 
  from, to {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-35px);
  }
}

@keyframes bounce { 
  from, to {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-35px);
  }
}

@-o-keyframes bounce {
  from, to {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-35px);
  }
}


@-moz-keyframes bounce {
  from, to {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-35px);
  }
}

@-webkit-keyframes squish {
  from, to {
    height: 0px;
  }
  88% {
    height: 30px;
  }
}

@keyframes squish {
  from, to {
    height: 0px;
  }
  88% {
    height: 30px;
  }
}

@-moz-keyframes squish {
  from, to {
    height: 0px;
  }
  88% {
    height: 30px;
  }
}

@-o-keyframes squish {
  from, to {
    height: 0px;
  }
  88% {
    height: 30px;
  }
}
