
.gravify-text {
  background: -webkit-linear-gradient(#8d98ae, #c1d1f2);
  height: 300px; 
  padding: 150px;
}

.row {
  padding-top:50px;
}

.lamp {
  height: 74px;
  width: 59px;
}

.bounce { 
    position: relative;
    right: 59px;
    bottom: 59px;
    -webkit-animation: bounce .8s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
    animation: bounce .8s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
    -moz-animation: bounce .8s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
    -o-animation: bounce .8s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
}

.squish { 
    -webkit-animation: squish .8s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
    animation: squish .8s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
    -moz-animation: squish .8s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
    -o-animation: squish .8s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
}

@-webkit-keyframes bounce { 
  from, to {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-35px);
  }
}

@keyframes bounce { 
  from, to {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-35px);
  }
}

@-o-keyframes bounce {
  from, to {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-35px);
  }
}


@-moz-keyframes bounce {
  from, to {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-35px);
  }
}

@-webkit-keyframes squish {
  from, to {
    height: 0px;
  }
  88% {
    height: 30px;
  }
}

@keyframes squish {
  from, to {
    height: 0px;
  }
  88% {
    height: 30px;
  }
}

@-moz-keyframes squish {
  from, to {
    height: 0px;
  }
  88% {
    height: 30px;
  }
}

@-o-keyframes squish {
  from, to {
    height: 0px;
  }
  88% {
    height: 30px;
  }
}
