<html>

	<head>
		 <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		
		<!--  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" /> -->
		
		<!--  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script> -->
		
		<!--  <script src="http://d3js.org/d3.v3.min.js"></script> -->

		<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->

		<script src="{{js_url}}"></script>
		<link rel="stylesheet" href="{{css_url}}"></style>
	</head>

	<body>
		<!-- <canvas>
			<p><img id="lamp" src="https://raw.githubusercontent.com/albiebrown/gravify2.0/gh-pages/images/lamp.png"></p>
			<div id="gravify">
			    <p><img id="gravtext" class="gravifytext" src="https://raw.githubusercontent.com/albiebrown/gravify2.0/gh-pages/images/grav.png"></p>
			    <p><img id="itext" class="gravifytext" src="https://raw.githubusercontent.com/albiebrown/gravify2.0/gh-pages/images/i.png"></p>
			    <p><img id="fytext" class="gravifytext" src="https://raw.githubusercontent.com/albiebrown/gravify2.0/gh-pages/images/fy.png"></p>
			</div>
		</canvas> -->
		<img src="{{grav_url}}" class="char_png" id="grav_png">

		<canvas id="canvas">



		</canvas>
	</body>

</html>