<html>

	<head>
		 <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
		
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

		<link rel="stylesheet" href="{{css_url}}"></style>			
	</head>

	<body>
		<div class="container" style="padding-top: 50px">
			<div class="alert alert-danger alert-dismissible" role="alert" style="display: {{bad_input}}">
				<strong>Oops!</strong> Inputs must be between 3 and 14 characters and can only contain letters, numbers and a few special characters.
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
			</div>
			<div class="row">
				<div class="gravify-text">
					<img class="text" style="width: {{first_chunk_size}}px" src="{{first_chunk_url}}">
					<div style="width: 59px; height: 47px; display: inline-block; position: relative; vertical-align: middle;">
						<img class="text squish" style="width: 59px; position: absolute; bottom: -5px;" src="{{bounce_letter_url}}">
					</div>
					<img class="lamp bounce" src="{{lamp_url}}">
					<img class="text" style="width: {{last_letter_size}}px; position: relative; right: 59px" src="{{last_letter_url}}">
				</div>
			</div>
			<div class="row" style="padding-left: 100px">
					<div class="col-lg-6">
						<form action="/" method="get">
							<div class="input-group">
								<input type="text" class="form-control" name="name">
								<span class="input-group-btn">
									<button id="grav-button" class="btn btn-default" type="submit">gravify!</button>
								</span>	
							</div>
						</form>
					</div>

			</div>
			<div class="row" style="padding-left: 200px">
				<button type="button" class="btn btn-default">
					<a href="{{first_chunk_url}}" download="{{first_chunk}}.png">{{first_chunk}}.png<span class="glyphicon glyphicon-chevron-down"></span></a>
				</button>
				<button type="button" class="btn btn-default">
					<a href="{{bounce_letter_url}}" download="{{bounce_letter}}.png">{{bounce_letter}}.png<span class="glyphicon glyphicon-chevron-down"></span></a>
				</button>
				<button type="button" class="btn btn-default">
					<a href="{{last_letter_url}}" download="{{last_letter}}.png">{{last_letter}}.png<span class="glyphicon glyphicon-chevron-down"></span></a>
				</button>
				<button type="button" class="btn btn-default">
					<a href="{{lamp_url}}" download="lamp.png">lamp.png<span class="glyphicon glyphicon-chevron-down"></span></a>
				</button>
			</div>
			<div class="row">
				<div class="col-lg-7">
					<div class="panel panel-default" style="">
						<div class="panel-heading">
						    <h3 class="panel-title">Gravify: Falling with Style (and a little bit of CSS3)</h3>
						</div>
						<div class="panel-body">
							Using a simple CSS3 animation and not a single line of JavaScript, we made a simple Luxo Jr. animation generator.
							Enter your name and we'll provide the files and code that you need to run this little animation on your own site. Compatability provided
							for all alphanumeric characters, and a couple special characters. Check out our original concept 
							<a href="https://albiebrown.github.io/gravify" target="_blank">here</a>. Get the source code <a href="https://github.com/alextbok/Gravity-Gif-Generator" target="_blank">here</a>.
						</div>
					</div>
				</div>
				<div class="col-lg-5" style="margin-bottom: 30px;">
					<img src="/static/buzz.png" width="200px" style="margin-left: 70px;"></img>
				</div>	
			</div>

		</div>
	</body>

</html>